@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.header__background{
    background-color: green;
    opacity: 90%;
    width: 300px;
    height: 50vh;
    float: left;
}

.button {
    font-size: 14px;
    font-weight: bold;
    color: $color-secondary;
    margin: 30px;
    padding: 15px;
    background: none;
    box-shadow: none;
    border: 2px solid $color-secondary;
    border-radius: 8px;
    text-shadow: none;
 
    
    &--intro{
        margin: 70px 0px;
    }
}

.button:hover{
    color: $color-white;
    border: 2px solid $color-white;
}

.navigation{ 
    
    .button {
        font-size: 18px;
        font-weight: bold;
        color: $color-secondary;
        margin: 30px;
        padding: 15px;
        background: none;
        box-shadow: none;
        border: 2px solid $color-secondary;
        border-radius: 8px;
        text-shadow: none;
    }

        .button:hover{
            color: $color-white;
            border: 2px solid $color-white;
        }

    .logo{
        font-size: 32px;
        color: $color-secondary;
        text-decoration: none;
        font-weight: normal;
        width: 30%;
        margin: 10px;
        padding: 25px;
}

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: $color-white;
        margin: 30px;
        padding: 25px;
    }

        :hover{
            color: $color-secondary;
        }
}

a {
    text-decoration: none;
    font-size: 14px;
    color: $color-white;
    margin: 30px;
    padding: 25px;
}
    

.header-dividing-line{
    width:103px;
    height: 2px;
    background: $color-secondary;
    margin: 30px 0px;
}

.underline{
    align-self: center;
    width:103px;
    height: 2px;
    background: $color-secondary;
    margin: 10px auto;
}

.intro{
    text-align: left;


        &__heading{
            font-size: 48px;
            font-style: normal;
            color: $color-secondary;
            text-transform: uppercase;
        }

        &__subheading{
            font-size: 36px;
            font-style: normal;
            color: $color-white;
        }
}


.portfolio {
    text-align: left;
    align-content: center;
    justify-content: center;
    
        &__heading{
            text-align: center;
            text-transform: uppercase;
        }


    
}

.projects {
    margin: 0 4vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:1fr 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
     

}

.project-card{
    background-color: transparent;
    // border: 1px solid black;
    margin: 5px;
    padding: 0px;
    background-color: $color-highlight;
    box-shadow: 3px 3px 10px 0px black;
    border-radius: 5px;
    transition: transform 0.4s;


        .project-card-image{
            padding: 0px;
            margin: 0px;
            width: 100%;
            border-radius: 5px 5px 0 0;
        }
        

        .project-card-info{
            padding: 5px;
            margin: 5px 0px 20px 0px;
        }

            .project-card-name {
                padding: 4px;
                text-transform: uppercase;
                color: $color-secondary;
                width: 50%;
            }

            .project-card-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto;
            }

                .project-card-buttons{
                    margin: 0 10px 0 0;
                }


                a {
                    padding: 0px;
                    margin: 5px;
                }

            p {
                padding: 4px;

            }

            i{
                color: $color-white;
            }

                i:hover{
                    color: $color-secondary;
                }

}

.project-card:hover{
    transform: scale(1.10)
}

.about{
    text-align: left;
    align-content: center;
    justify-content: center;
    
        &__heading{
            text-align: center;
            text-transform: uppercase;
        }  
}

.footer {
    background-color: $color-highlight;
    
        i{
            font-size: 34px;
            color: $color-secondary;
        }

            :hover{
                color: $color-white
            }
}