@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.logo{
    font-size: 32px;
    color: $color-secondary;
    text-decoration: none;
    width: 30%;
    margin: 10px;
    padding: 25px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: $color-white;
    margin: 30px;
    padding: 25px;
}

.button {
    font-size: 14px;
    color: $color-secondary;
    margin: 30px;
    padding: 15px;
    background: none;
    box-shadow: none;
    border: 2px solid $color-secondary;
    border-radius: 8px;
    text-shadow: none;

    &--intro{
        margin: 70px 0px;
    }
}

.dividing-line{
    width:103px;
    height: 2px;
    background: $color-secondary;
    margin: 30px 0px;
}

.intro{
    text-align: left;


        &__heading{
            font-size: 48px;
            font-style: normal;
            color: $color-secondary;
            text-transform: uppercase;
        }

        &__subheading{
            font-size: 36px;
            font-style: normal;
            color: $color-white;
        }
}


.portfolio {
    text-align: left;

        &__heading{
            text-align: center;
            text-transform: uppercase;
        }
}

// .projects {
//     display: flex;

// }

.project-card{
    background-color: transparent;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: $color-highlight;

        .project-card-name {
            text-transform: uppercase;
            color: $color-secondary;
            width: 50%;
        }

        .project-card-button{

        }

}