

.header {
    padding: 10px;
    margin: 10px;
    height: 100vh;
}

.navigation {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.main {
    padding: 0px 30px;
    margin: 0px 30px;
}

.intro {
    height: 90%;
    width: 40%;
    margin: 30px;
}

.portfolio {
    height: 100vh;
    width: 100%;

    &__header {
        height: 10%;
    }

    &__area {
        height: 90%;
        display: grid;
        justify-content: center;

    }
}

.about {
    height: 85vh;

    &__header {
        height: 10%;
    }

    &__area {
        height: 90%;
        display: flex;
        justify-content: center;

    }
}

.footer {
    height: 10vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;


    &__buttons {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


}



// smaller display Styling
@media only screen and (max-width: 991px) {
    .intro {
        height: 90%;
        width: 55%;
        margin: 25px 15px 15px 15px;
    }
    
    .main {
        padding: 0px 10px;
        margin: 0px 10px;
    }

    .portfolio {
        height: auto;
        width: 100%;
    
        &__header {
            height: 10%;
            margin: 25px 0px;
        }
    
        &__area {
            height: 90%;
            justify-content: center;
            margin-bottom: 40px;
    
        }
    }

    .about {
        height: 500px;
    
        &__header {
            height: 10%;
            margin: 40px 0px;
        }
    
        &__area {
            margin: 25px 0px;
        }
    }

    .footer {   
    
        &__buttons {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

// Tablets Styling
@media only screen and (max-width: 768px) {
    .intro {
        height: 90%;
        width: 60%;
        margin: 25px 15px 15px 15px;
    }
    
    .main {
        padding: 0px 10px;
        margin: 0px 10px;
    }

    .portfolio {
        height: auto;
        width: 100%;
    
        &__header {
            height: 10%;
            margin: 25px 0px;
        }
    
        &__area {
            height: 90%;
            justify-content: center;
            margin-bottom: 40px;
    
        }
    }

    .about {
        height: 500px;
    
        &__header {
            height: 10%;
            margin: 40px 0px;
        }
    
        &__area {
            margin: 25px 0px;
        }
    }

    .footer {   
    
        &__buttons {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

// Phones Styling
@media only screen and (max-width: 480px) {
    .intro {
        height: 90%;
        width: 90%;
        margin: 25px 15px 15px 15px;
    }
    
    .main {
        padding: 0px 10px;
        margin: 0px 10px;
    }
    .portfolio {
        height: auto;
        width: 100%;
    
        &__header {
            height: 10%;
            margin: 25px 0px;
        }
    
        &__area {
            height: 90%;
            justify-content: center;
            margin-bottom: 40px;
    
        }
    }

    .about {
        height: 300px;
    
        &__header {
            height: 10%;
            margin: 40px 0px;
        }
    
        &__area {
            margin: 25px 0px;
        }
    }

    .footer {   
    
        &__buttons {
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    
    
    }
}
