@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #F5F7F9;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: #3A4C5A;
}

.navigation *,
.navigation .button {
  text-transform: uppercase;
  font-size: 16px;
}
.navigation .logo {
  font-size: 32px;
  color: #FFCD38;
  text-decoration: none;
  font-weight: normal;
  width: 30%;
  margin: 10px;
  padding: 25px;
}
.navigation a {
  text-decoration: none;
  font-weight: bold;
  color: #F5F7F9;
  margin: 30px;
  padding: 25px;
}
.navigation a:hover {
  color: #FFCD38;
}

.intro {
  text-align: left;
}
.intro__heading {
  font-size: 48px;
  font-style: normal;
  color: #FFCD38;
  text-transform: uppercase;
}
.intro__subheading {
  font-size: 36px;
  font-style: normal;
  color: #F5F7F9;
}

.portfolio {
  text-align: left;
  align-content: center;
  justify-content: center;
}
.portfolio__heading {
  text-align: center;
  text-transform: uppercase;
}

.projects {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.project-card {
  background-color: transparent;
  margin: 5px;
  padding: 0px;
  background-color: #4C5B68;
  box-shadow: 3px 3px 10px 0px black;
  border-radius: 5px;
  transition: transform 0.4s;
}
.project-card .project-card-image {
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.project-card .project-card-info {
  padding: 5px;
  margin: 5px 0px 20px 0px;
}
.project-card .project-card-name {
  padding: 4px;
  text-transform: uppercase;
  color: #FFCD38;
  width: 100%;
}
.project-card .project-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.project-card .project-card-buttons {
  margin: 0 10px 0 0;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.project-card a {
  padding: 0px;
  margin: 5px;
}
.project-card p {
  padding: 4px;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.project-card i {
  color: #F5F7F9;
}
.project-card i:hover {
  color: #FFCD38;
}

.project-card:hover {
  transform: scale(1.1);
}

.about {
  text-align: left;
  align-content: center;
  justify-content: center;
}
.about__heading {
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: #4C5B68;
}
.footer a {
  text-decoration: none;
}
.footer a i {
  font-size: 34px;
  color: #FFCD38;
  text-decoration: none;
}
.footer a i:hover {
  color: #F5F7F9;
}

.button {
  font-size: 16px;
  font-weight: bold;
  color: #FFCD38;
  margin: 30px;
  padding: 15px;
  background: none;
  box-shadow: none;
  border: 2px solid #FFCD38;
  border-radius: 8px;
  text-shadow: none;
}
.button:hover {
  color: #F5F7F9;
  border: 2px solid #F5F7F9;
}
.button--intro {
  margin: 70px 0px;
}

.header-dividing-line {
  width: 103px;
  height: 2px;
  background: #FFCD38;
  margin: 30px 0px;
}

.underline {
  align-self: center;
  width: 103px;
  height: 2px;
  background: #FFCD38;
  margin: 10px auto;
}

.header {
  padding: 10px;
  margin: 30px;
  height: 100vh;
}

.navigation {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 0px 30px;
  margin: 0px 30px;
}

.intro {
  height: 90%;
  width: 40%;
  margin: 30px;
}

.portfolio {
  height: 100vh;
  width: 100%;
}
.portfolio__header {
  height: 10%;
}
.portfolio__area {
  height: 90%;
  display: grid;
  justify-content: center;
}

.about {
  height: 85vh;
}
.about__header {
  height: 10%;
}
.about__area {
  height: 90%;
  display: flex;
  justify-content: center;
}

.footer {
  height: 10vh;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.footer__buttons {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}